body {
	display: flex;
	flex-direction: column;
	background-color: $silver-100;
	color: $darkGreen-900;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.main {
	flex-grow: 1;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.logo {
	transition: color 0.3s, box-shadow 0.3s, border-radius 0.3s, text-shadow 0.3s;

	&:focus {
		border-radius: 5px;
		box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
	}

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.5;
		box-shadow: none;
	}
}

.button {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 12px 32px;
	border-radius: 6px;
	background-color: $orange-900;
	color: $white;
	font-size: 18px;
	transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;

	&:focus,
	&:hover {
		color: $orange-900;
	}

	&:focus,
	&:active {
		background-color: rgba($darkOrange-300, 0.1);
	}

	&:focus {
		box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
	}

	&:hover {
		background-color: rgba($white, 0.1);
		box-shadow: 0 5px 12px 0 rgba($orange-900, 0.2),
			0 0 0 2px rgba($orange-900, 0.7);
	}

	&:active {
		box-shadow: none;
	}
}

.section {
	padding-bottom: 120px;
}

.title {
	color: &darkBlue-900;
	font-family: Rubik;
	font-size: 36px;
	font-weight: 500;
	line-height: 130%;
}

.link {
	position: relative;
	color: $darkBlue-900;
	text-align: center;
	/* border-bottom: 1px solid $black; */
	transition: color 0.3s, border-bottom 0.3s, box-shadow 0.3s, text-shadow 0.3s;

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: $black;
		top: 20px;
		left: 0;
	}

	&:focus {
		&::after {
			background-color: transparent;
		}
		border-radius: 6px;
		box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
	}

	&:hover {
		color: $orange-900;
		border-bottom-color: transparent;
	}

	&:active {
		text-shadow: 2px 2px 5px rgba($darkBlue-900, 0.5);
		color: $darkBlue-900;
		box-shadow: 0 0 0;
	}
}

.contacts-info {
	max-width: 250px;
	width: 100%;
	word-wrap: break-word;
	&__item {
		font-size: 16px;
		line-height: 200%;
		margin-bottom: 15px;
	}
	&__link {
		padding-left: 31px;
		position: relative;
		white-space: nowrap;
		&::before {
			content: '';
			position: absolute;
			background-image: url('../images/icons/footer-location.svg');
			width: 20px;
			height: 20px;
			left: 0;
			bottom: 0;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		&--calling {
			&::before {
				background-image: url('../images/icons/footer-calling.svg');
			}
		}

		&--message {
			&::before {
				background-image: url('../images/icons/footer-message.svg');
			}
		}
	}
}

.social {
	display: flex;
	&__item {
		&:not(:last-child) {
			margin-right: 13px;
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		background-color: $silver-200;
		transition: background-color 0.3s, box-shadow 0.3s;
		&:focus {
			background-color: rgba($darkOrange-300, 0.1);
			box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
		}
		&:hover {
			background-color: $darkOrange-300;
			svg,
			path {
				fill: $white;
			}
			transition: fill 0.3s;
		}
		&:active {
			background-color: $pastelPink-300;
			box-shadow: none;
			svg,
			path {
				fill: $orange-900;
			}
		}
	}
}
