.footer {
	&__top {
		display: flex;
		justify-content: space-between;
		padding-bottom: 61px;
	}

	&__logo {
		margin-bottom: 30px;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		padding-top: 10px;
	}

	&__list {
		display: grid;
		grid-template-columns: 1.2fr 1fr 1fr;
		font-size: 18px;
		line-height: 130%;
		word-wrap: break-word;
	}

	&__item {
		margin-bottom: 10px;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__link,
	.contacts-info__link {
		transition: box-shadow 0.3s, background-color 0.3s, border-radius 0.3s,
			color 0.3s;

		&:focus {
			border-radius: 5px;
			box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
		}

		&:hover {
			color: $orange-900;
		}

		&:active {
			text-shadow: 2px 2px 5px rgba($darkGreen-900, 0.5);
			color: $darkGreen-900;
			box-shadow: 0 0 0;
		}
	}

	&__bottom {
		padding: 40px 0;
		text-align: center;
		border-top: 2px solid $silver-200;
	}

	&__text {
		font-size: 14px;
		line-height: 100%;
	}
}
