<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="logo" href="#">
                <img class="logo__img" src="images/logo.png" alt="логотип">
            </a>
            <nav class="header__menu">
                <ul class="header__list">
                    <li class="header__item">
                        <a class="header__link" href="#">Главная</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link" href="#">Блюда</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link" href="#">Контакты</a>
                    </li>
                </ul>
                <div class="header__search">
                    <a class="header__search-link" href="#">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <ellipse cx="11.4172" cy="11.9172" rx="8.41718" ry="8.41717" stroke="#31352B"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M17.2715 18.2085L20.5715 21.4999" stroke="#31352B" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                    <a class="header__search-link" href="#">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M3.22192 3.5L5.24571 3.85916L6.18269 15.3054C6.25761 16.2402 7.01944 16.9575 7.93404 16.9545H18.5482C19.421 16.9565 20.1614 16.298 20.285 15.4121L21.2083 8.86943C21.3115 8.13814 20.8162 7.45973 20.104 7.35397C20.0417 7.345 5.57069 7.34001 5.57069 7.34001"
                                stroke="#31352B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M14.2895 11.0274H16.9875" stroke="#31352B" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M7.50715 20.4131C7.79998 20.4131 8.03639 20.6566 8.03639 20.9561C8.03639 21.2565 7.79998 21.5001 7.50715 21.5001C7.21431 21.5001 6.97791 21.2565 6.97791 20.9561C6.97791 20.6566 7.21431 20.4131 7.50715 20.4131Z"
                                fill="#31352B" stroke="#31352B" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M18.4827 20.4131C18.7755 20.4131 19.0129 20.6566 19.0129 20.9561C19.0129 21.2565 18.7755 21.5001 18.4827 21.5001C18.1898 21.5001 17.9534 21.2565 17.9534 20.9561C17.9534 20.6566 18.1898 20.4131 18.4827 20.4131Z"
                                fill="#31352B" stroke="#31352B" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        <span class="header__search-num">4</span>
                    </a>
                </div>

            </nav>
        </div>
    </div>
</header>